.footer::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%; /* Đặt chiều rộng của background 1 lớn hơn */
  height: 100%; /* Chiều cao của background sẽ là 100% để nó bao phủ toàn bộ footer */
  background-image: url("../assets/images/backgrounds/bg-background-1.png"),
    url("../assets/images/backgrounds/bg-background-2.png");
  background-repeat: no-repeat;
  background-size: auto 100%, auto; /* Đặt kích thước của background 1 là auto để giữ nguyên tỷ lệ và background 2 là auto */
  background-position: bottom right;
  z-index: -10;
}
.footer {
  border-top: none;
  margin-top: 120px;
  background: none;
  position: relative;
  padding: 50px 0px 100px 0px;
  .footer-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    .home-footer-left {
      grid-column: 1 / 2;
      max-width: 320px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      cursor: pointer;
      .home-footer-logo {
        display: flex;
        align-items: center;
        gap: 12px;
        span {
          font-weight: bold;
          color: #1b1c57;
        }
      }
      .home-footer-left-title {
        font-size: 14px;
        color: #626687;
        font-weight: 500;
        line-height: 24px;
      }
      .home-footer-left-icon {
        display: flex;
        gap: 24px;
        svg {
          cursor: pointer;
        }
      }
    }

    .footer-menu {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    .footer-column ul {
      list-style-type: none;
      padding: 0;
    }

    .footer-column ul li {
      margin-bottom: 5px;
    }

    .footer-column ul li a {
      text-decoration: none;
      color: #888b97;
      font-size: 14px;
    }

    .footer-column h4 {
      font-size: 18px;
      color: #0e1735;
      margin-bottom: 18px;
      font-weight: bold;
    }
  }
}
