.c-wrapper {
  .c-wrapper-home-header-background {
    position: relative;
    display: flex;
    overflow: hidden;
  }
  .c-wrapper-home-header-background::before {
    content: "";
    background-image: url("../assets/images/backgrounds/header-home.png");
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0px;
    width: 50%;
    height: 100%;
    display: inline-block;
    right: 0;
    top: 0;
    border-radius: 0 0 0 120px;
    z-index: -10;
    @media screen and (max-width: 1200px) {
      border-radius: 0px 0 40px 40px;
      opacity: 0.3;
      width: 100%;
    }
  }
  .c-wrapper-home-header-background::after {
    content: "";
    background-image: url("../assets/images/backgrounds/header-shadowsbox.png");
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
    display: inline-block;
    left: 0;
    top: 0;
    border-radius: 0 0 0 120px;
    z-index: -10;
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
  .c-wapper-home-header-background {
    .header-background-left {
      z-index: -10;
      top: 0;
      left: 0;
      position: absolute;
      width: 50%;
      img {
        width: 100%;
      }
    }
    .header-background-right {
      border-radius: 0 0 0 120px;
      width: 50%; /* Độ rộng của phần tử */
      height: 72vh; /* Chiều cao của phần tử */
      position: absolute;
      z-index: -10;
      top: 0;
      right: 0;
      /* Áp dụng hình nền và ngăn chặn lặp lại */
      background-image: url("../assets/images/backgrounds/header-home.png");
      background-size: cover; /* Hiển thị hình nền toàn bộ mà không bị bóp méo */
      background-position: right top -60px; /* Đưa hình nền về phía bên phải và phía trên */
      background-repeat: no-repeat; /* Ngăn chặn hình nền lặp lại */
    }
  }
  .home-header-sidebar {
    display: flex;
    justify-content: space-between;
    margin: 40px auto 0px !important; /* Center horizontally */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    .home-header-sidebar-left {
      display: flex;
      gap: 12px;
      align-items: center;
      .home-header-sidebar-title {
        color: #1b1c57;
        font-size: 16px;
        font-weight: bold;
      }
    }
    .home-header-sidebar-right {
      display: flex;
      gap: 56px;
      .home-header-sidebar-right-menu {
        display: flex;
        gap: 24px;
        button {
          padding: 6px 18px;
          font-size: 14px;
          font-weight: bold;
          border-radius: 32px;
          border: none;
          background-color: rgba(255, 255, 255, 0.3);
          border: 1px solid #ffffff;
          color: #f0f3fd;
          @media screen and (max-width: 1200px) {
            background-color: rgba(0, 0, 0, 0.3);
          }
        }
      }
      .signup-btn {
        display: flex;
        align-items: center;
        padding: 6px 18px;
        background-color: #d1fae5;
        border-radius: 32px;
        color: #047857;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
  .home-page-content {
    margin-top: 182px;
    display: flex;
    justify-content: space-between;
    .home-page-content-left {
      display: flex;
      gap: 32px;
      flex-direction: column;
      .home-page-content-title {
        font-size: 40px;
        color: #1b1c57;
        font-weight: bold;
        text-wrap: nowrap;
        max-width: fit-content;

        .home-page-content-title-white {
          color: #fff;
          text-shadow: -1px -1px 0 #1b1c57, 1px -1px 0 #1b1c57,
            -1px 1px 0 #1b1c57, 1px 1px 0 #1b1c57;
        }
      }
      .home-page-content-sub-title {
        margin-top: 24px;
        color: #626687;
        font-size: 16px;
        font-weight: 400;
      }
      .home-page-content-search {
        max-width: 100%;
        .ant-space-compact {
          position: relative;
          min-width: 496px;
          .ant-input-affix-wrapper {
            padding: 16px 24px;
            border-radius: 32px;
            .ant-input {
              font-size: 14px;
              color: #888b97;
              font-weight: bold;
              max-width: 300px;
            }
          }
          .ant-input-outlined:hover {
            border-color: #10b981;
          }
          .ant-input-outlined:focus-within {
            border-color: #10b981;
          }
          .ant-input-prefix {
            margin-right: 16px;
          }
          .ant-btn {
            position: absolute;
            display: flex;
            gap: 13px;
            padding: 23px 16px;
            border-radius: 32px;
            max-width: 109px;
            z-index: 10;
            background-color: #10b981;
            top: 50%;
            right: 4px;
            transform: translateY(-50%);
            font-size: 14px;
            font-weight: bold;
            font-family: var(--font-family);
          }
          .anticon-close-circle svg {
            width: 18px;
            height: 18px;
          }
        }
      }
      .home-page-content-our-partnership {
        span {
          color: #888b97;
          font-weight: 500;
        }
        .home-page-content-list-icon {
          display: flex;
          gap: 32px;
        }
      }
    }
    .home-page-content-right {
      width: 50%;
    }
  }
}
