.breadcrum-bar {
  display: flex;
  gap: 8px;
  align-items: center;
  .breadcrum-bar-title {
    font-size: 14px;
    color: #f59e0b;
    font-weight: 600;
    cursor: pointer;
  }
}
.title-banner {
  font-size: 32px;
  color: #1b1c57;
  line-height: 40px;
  font-weight: 600;
}
.arrow-btn {
  background-color: #e0e3eb;
  width: 60px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  cursor: pointer;
}
.active {
  cursor: pointer;
  background-color: #10b981;
  svg {
    color: #fff;
  }
}
.btn {
  padding: 15px 16px;
  border-radius: 32px;
  background-color: #10b981;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: var(--font-family);
}
.btn:hover {
  background-color: #43c99c;
  color: #fff;
}
