$color-body: #454545 !default;
$color-orange: #f96745 !default;
$bg-orange: #f96745 !default;
$border-orange: #f96745 !default;

body {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
